body {
    height: 700px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__left {
    font-size: 30px;
    margin: 15px 30px;
    color: blue;
}

nav {
    text-align: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 20px 10px;
    width: 20%;
    min-width: 120px;
}

.header__right {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: blue;
}

.img__box {
    position: relative;
    top: 350px;
    width: %;
    height: 200px;
    display: block;
    background-color: blue;
}

.card__img {
    position: absolute;
    top: -300px;
    left: 65%;
    width: 35%;
}

.card__img img {
    width: 100%;
}

.img__text {
    font-size: 50px;
    font-weight: lighter;
    position: absolute;
    top: 365px;
}