body {
    height: 700px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__left {
    font-size: 30px;
    margin: 15px 30px;
    color: blue;
}

nav {
    text-align: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 20px 10px;
    width: 20%;
    min-width: 120px;
}

.header__right {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: blue;
}

.img__box {
    position: absolute;
    top: 300px;
    right: 50%;
    z-index: -10;
    width: 1450px;
    height: 150px;
    background-color: blue;
}

.card__img {
    position: relative;
    top: 100px;
    z-index: 1;
    left: 50%;
    width: 50%;
}

.card {

}
.card__img img {
    width: 100%;
}

.img__text {
    font-size: 50px;
    font-weight: lighter;
    position: absolute;
    top: 410px;
}